@import "tailwindcss";

@theme {
  --animate-bounce-slow: bounce-slow 3s infinite;
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

body {
  @apply antialiased text-slate-900;
}

.recharts-responsive-container {
  @apply !w-full !h-full;
}
